<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>473119730906-056ejcvibi20u463guob4v55s5agk4q4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473119730906-056ejcvibi20u463guob4v55s5agk4q4</string>
	<key>API_KEY</key>
	<string>AIzaSyB7U-qIjTKhLnHaHHzCJK-VOq8_U9GUM3k</string>
	<key>GCM_SENDER_ID</key>
	<string>473119730906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.last.exercise.app</string>
	<key>PROJECT_ID</key>
	<string>last-exercise-app</string>
	<key>STORAGE_BUCKET</key>
	<string>last-exercise-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:473119730906:ios:ba4c4e87fc64ca73</string>
	<key>DATABASE_URL</key>
	<string>https://last-exercise-app.firebaseio.com</string>
</dict>
</plist>